.jumbotron {
  display: flex;
  flex-direction: column;
  background-color: #495e57;
  margin-bottom: 8px;
  height: 300px;
}

.jumbotron-title {
  color: #f4ce14;
  font-size: 40pt;
  margin-bottom: 0;
  margin-left: 140px;
  margin-top: 24px;
}

.jumbotron-subtitle {
  color: white;
  font-size: 18pt;
  margin-top: 0;
  margin-left: 140px;
  margin-bottom: 0;
}

.jumbotron-info {
  display: flex;
  flex-direction: row;
  height: 176px;
}

.jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 124px;
  margin-left: 140px;
  width: 35%;
  color: white;
}

.jumbotron-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  transform: translate(-38px, -92px);
}

/* from 576px to 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .jumbotron {
    flex-direction: column;
    height: 100%;
  }

  .jumbotron-title,
  .jumbotron-subtitle {
    margin-top: 0;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
  }

  .jumbotron-info {
    margin: 8px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .jumbotron-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 20px;
  }

  .jumbotron-text p {
    margin-top: 0;
  }

  .jumbotron-image {
    width: 220px;
    height: 250px;
    transform: translate(73px, -20px);
  }
}

/* small screens - up to 575px */
@media only screen and (max-width: 575px) {
  .jumbotron {
    flex-direction: column;
    height: 100%;
  }

  .jumbotron-title,
  .jumbotron-subtitle {
    margin-top: 0;
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0;
  }

  .jumbotron-info {
    margin: 8px;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .jumbotron-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 20px;
    width: 60%;
  }

  .jumbotron-text p {
    margin-top: 0;
  }

  .jumbotron-image {
    width: 120px;
    height: 150px;
    transform: translate(0, 0);
  }
}
