.jumbotron {
  display: flex;
  flex-direction: column;
  background-color: #495e57;
  margin-bottom: 8px;
}

.jumbotron-title {
  color: #f4ce14;
  font-size: 40pt;
  margin-bottom: 0;
  margin-left: 140px;
  margin-top: 24px;
}

.jumbotron-subtitle {
  color: white;
  font-size: 18pt;
  margin-top: 0;
  margin-left: 140px;
  margin-bottom: 0;
}

.jumbotron-info {
  display: flex;
  flex-direction: row;
}

.jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 140px;
  color: white;
}

.jumbotron-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: -20px;
  margin-left: 20px;
  margin-right: 140px;
  flex-shrink: 0;
}

/* from 767px to 991px */
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .jumbotron-image {
    width: 220px;
    height: 250px;
    margin-bottom: 8px;
  }
}

/* from 576px to 767px */
@media only screen and (min-width: 575px) and (max-width: 766px) {
  .jumbotron-title,
  .jumbotron-subtitle {
    margin-top: 0;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
  }

  .jumbotron-info {
    margin: 8px;
    margin-left: 30px;
    justify-content: flex-start;
  }

  .jumbotron-text {
    margin-left: 0;
    margin-right: 20px;
    justify-content: space-between;
  }

  .jumbotron-text p {
    margin-top: 0;
  }

  .jumbotron-image {
    width: 220px;
    height: 250px;
    margin-bottom: 0;
    margin-right: 8px;
  }
}

/* small screens - up to 575px */
@media only screen and (max-width: 574px) {
  .jumbotron-title,
  .jumbotron-subtitle {
    margin-top: 0;
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0;
  }

  .jumbotron-info {
    margin: 8px;
    flex-direction: row;
  }

  .jumbotron-text {
    margin-left: 0;
  }

  .jumbotron-image {
    width: 120px;
    height: 150px;
    margin-bottom: 0;
    margin-right: 0;
  }
}
