.jumbotron {
  display: flex;
  flex-direction: column;
  background-color: #495e57;
  margin-bottom: 8px;
  height: 300px;
}

h1 {
  color: #f4ce14;
  font-size: 40pt;
  margin-bottom: 0;
  margin-left: 128px;
}

h2 {
  color: white;
  font-size: 18pt;
  margin-top: 0;
  margin-left: 128px;
  margin-bottom: 0;
}

.jumbotron-info {
  display: flex;
  flex-direction: row;
  height: 176px;
}

.jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 136px;
  margin-left: 128px;
  width: 35%;
  color: white;
}

.jumbotron-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  transform: translate(-30px, -92px);
}

/* small screens - up to 767px */
@media only screen and (max-width: 767px) {
  .jumbotron {
    flex-direction: column;
    height: 100%;
  }

  h1,
  h2 {
    margin-top: 0;
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0;
  }

  .jumbotron-info {
    margin: 8px;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .jumbotron-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 20px;
    width: 60%;
  }

  .jumbotron-text p {
    margin-top: 0;
  }

  .jumbotron-image {
    width: 120px;
    height: 150px;
    transform: translateX(0);
    transform: translateY(0);
  }
}
