header {
  display: flex;
  margin-top: 8px;
  background-color: white;
  margin-bottom: 8px;
  width: 100%;

  & img {
    margin-left: 16px;
    margin-right: auto;
    height: 50px;
  }
}
/* small screens - up to 767px */
@media only screen and (max-width: 767px) {
  header {
    display: none;
  }
}
