.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  flex-grow: 1;
}

.input label {
  margin-bottom: 4px;
}

input {
  height: 40px;
  border-radius: 8px;

  border: 1px solid #dddddd;
  padding: 8px 16px;
  vertical-align: top;
  appearance: none;
  font-size: 16px;
  line-height: 24px;
}

select {
  height: 40px;
  border-radius: 8px;

  border: 1px solid #dddddd;
  padding: 8px 16px;
  vertical-align: top;
  appearance: none;
  font-size: 16px;
  line-height: 24px;
}

input:focus-visible,
select:focus-visible {
  border: 2px solid #f4ce14;
  outline: none;
  /* box-shadow: 1px 0px #f4ce14; */
}
