.booking-form {
  margin-bottom: 8px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.booking-form-fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid #edefee;
  margin-bottom: 8px;
}

/* small screens - up to 767px */
@media only screen and (max-width: 767px) {
  .booking-form {
    width: 100%;
  }
}
