.specials {
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  & button {
    margin-left: auto;
    margin-right: 130px;
  }
}
.specials-title {
  color: black;
  margin-bottom: 0;
}

/* small screens - up to 767px */
@media only screen and (max-width: 767px) {
  .specials {
    width: 100%;

    margin-top: 0;
    > button {
      margin-right: 0;
    }
  }
}
