.foodcards {
  width: 700px;
  display: flex;
  margin: 0 auto 8px auto;
  padding: 8px;
  align-items: stretch;
}

.foodcard {
  flex: 1 0 200px;

  background-color: #edefee;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  align-items: stretch;
}

.food-image {
  width: 100%;
  border-radius: 16px 16px 0 0;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.food-info-row {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.food-name {
  font-size: 18px;
  margin-right: auto;
  margin-left: 8px;
}

.food-price {
  font-size: 18px;
  color: #495e57;
  margin-right: 8px;
  margin-left: auto;
}

.food-description {
  margin-right: 8px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-delivery {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 4px 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 8px;
  color: #495e57;
}

.food-delivery:hover {
  background-color: #f4ce14;
}

.food-delivery img {
  height: 24px;
  width: 24px;
  margin-left: 8px;
}

/* small screens - up to 767px */
@media only screen and (max-width: 767px) {
  .foodcards {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow: scroll;
    margin-left: 0;
    margin-right: 0;
  }
}
