button {
  background-color: #f4ce14;
  color: black;
  border-radius: 8px;
  border: none;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.button-icon {
  margin-left: 0;
  height: 24px;
  width: 24px;
}

button:hover {
  background-color: #e3be0b;
}

button:disabled {
  background: #dddddd;
}
