button {
  background-color: #f4ce14;
  color: black;
  border-radius: 8px;
  border: none;
  padding: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

button:disabled {
  background: #dddddd;
}
