.navigation {
  display: flex;
  margin-right: 8px;
}

.navigation-list {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 8px;
}

.navigation-item {
  list-style-type: none;
}

.navigation-item a {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  margin-right: auto;
}

.navigation-toggle {
  display: none;
}

/* small screens - up to 767px */
@media only screen and (max-width: 767px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .navigation-toggle {
    display: flex;
    align-items: center;
  }

  .navigation.navigation-closed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .navigation-closed .navigation-list {
    display: none;
  }

  .navigation-list {
    flex-direction: column;
    align-items: flex-end;
    background-color: #edefee;
    height: 30%;
    width: calc(100% - 16px);
    position: fixed;
    top: 56px;
    right: 0;
    z-index: 1;
    padding-left: 0;
    margin-right: 8px;
    margin-top: 0;
  }

  .navigation-item {
    width: 100%;
    text-align: center;
    padding: 4px;
    /* padding-top: 8px; */
  }

  .navigation-item a {
    margin-left: 0;
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 8px;
    padding-right: 16px;
  }

  .navigation-item a:hover {
    background-color: #f8e16d;
    border-radius: 8px;
    color: black;
  }
}
