.navigation {
  margin-right: 8px;
}

.navigation-list {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 8px;
}

.navigation-item {
  list-style-type: none;
}

.navigation-item a {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  margin-right: auto;
}
