.navigation {
  margin-right: 24px;

  width: 100%;
}

.navigation-list {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: space-around;

  & > li {
    list-style-type: none;

    & > a {
      text-decoration: none;
      color: black;
      margin-left: 16px;
      margin-right: auto;
    }
  }
}
