footer {
  display: flex;
  margin-bottom: 0;
  margin-top: auto;
  background-color: #495e57;
  justify-content: center;

  & .footer-logo {
    width: 30px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 30px;
  }

  & .footer-info {
    display: flex;
  }
}

ul {
  color: white;
  & > li {
    list-style-type: none;
    color: white;

    & > a {
      text-decoration: none;

      margin-left: 16px;
      margin-right: auto;
    }
  }
}
